@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Doris';
} 
.navbar a:hover{
    color: blue !important;
}
.navbar .nav-link{
    padding: 0 .8rem !important;
}
.navbar i:hover{
    color: blue;
}
.navbar i{

}
.navbar i{
    padding: 0px 10px;
}
.navbar{
    background-color: transparent !important;
    background-color: white;
}



/* top nav */
.dropdown .btn{
    color: #000;
    background-color: transparent !important;
    border-color: transparent !important;
    color: white;
}
.dropdown .btn:focus{
    outline: none;
    box-shadow: none;
}

/* Home */
#home{
    background-image: url(/Assets/img/black\ backgroud.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 71%);
}



shop{
    background-color: black;
    width: 100%;
    height: 200vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.row .card h4{
    color: red;
}
.row .card p{
    color: red;
}
.row .card .btn{
    background-color: transparent;
    color: red;
}


/* all intro */
.intro{
    text-align: center;
}
.intro h3{
    text-transform: capitalize;
}
.intro hr{
    width: 50px;
    border: 2px solid seagreen;
}

/* about */
#about .img-about{
    background-image: url(/Assets/img/bac2.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: top 80px center;
}


/* footer */
.footer .row .col ul{
    list-style: none;
}
.footer .row .col ul li{
    text-decoration: none;
    text-transform: capitalize;
}
.footer .copy{
    background-color: whitesmoke;
}
footer .copy i{
    float: right;
    background-color: white;
    color: brown;
    border-radius: 50px;
    padding: 1rem;
}
#shop .col img:hover{
    
    transform: scaleX(-1);
          
    }


@media(max-width:400px){
    #home{
        background-image: url(/Assets/img/black\ backgroud.jpg);
        width: 100%;
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 71%);
        #top-nav{
            font-size: .9rem;
        }

}

#shop .col img:hover{
    
transform: scaleX(-1);
      
}




   










