.row .col img:hover{
    transform: scaleX(-1);
}
.row .col .btn{
    border: 1px solid red;
    background-color: #a52a2aca;
    color: black;
}
.row .col .btn:hover{
    padding: .1rem;
}
.row-1 .col{
    background-color: #a52a2aca;
    

    clip-path: polygon(93% 10%, 100% 0, 100% 97%, 0% 100%, 0 51%, 0% 0%);

}